@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-VariableFont.woff2') format('woff2');
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.rtl {
  direction: rtl;
  text-align: right;
  font-family: 'Vazirmatn', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
